@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-vsc-background text-vsc-foreground;
    padding: 0 !important;
  }
}

.monaco-env-variable-valid {
  color: #5bb3ff !important;
  font-style: italic;
}

.monaco-env-variable-missing {
  color: #ff5c5c !important;
  font-style: italic;
}
