@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-vsc-background text-vsc-foreground;
    padding: 0 !important;
  }
}

.monaco-env-variable {
  color: #5bb3ff !important;
  background-color: #1e2a35;
  border-radius: 3px;
}
